<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Docs -->
    <!--<link href="http://getbootstrap.com/docs-assets/css/docs.css" rel="stylesheet" media="screen">-->
    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="../css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../css/bootstrap-theme.min.css">
    <!-- Bootstrap Admin Theme -->
    <link rel="stylesheet" media="screen" href="../css/bootstrap-admin-theme.css">
    <link rel="stylesheet" media="screen" href="../css/bootstrap-admin-theme-change-size.css">
    <link rel="stylesheet" media="screen" href="../css/bootstrap-admin-theme.css">
    <link rel="stylesheet" media="screen" href="../css/bootstrap-admin-theme-change-size.css">
    <link rel="stylesheet" media="screen" href="../vendors/easypiechart/jquery.easy-pie-chart_custom.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../js/html5shiv.js"></script>
    <script type="text/javascript" src="../js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles -->
    <style type="text/css">
        @font-face {
            font-family: Ubuntu;
            src: url('../fonts/Ubuntu-Regular.ttf');
        }

        .bs-docs-masthead {
            background-color: #6f5499;
            background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);
            background-repeat: repeat-x;
        }

        .bs-docs-masthead {
            padding: 0;
        }

        .bs-docs-masthead h1 {
            color: #fff;
            font-size: 40px;
            margin: 0;
            padding: 34px 0;
            text-align: center;
        }

        .bs-docs-masthead a:hover {
            text-decoration: none;
        }

        .meritoo-logo a {
            background-color: #fff;
            border: 1px solid rgba(66, 139, 202, 0.4);
            display: block;
            font-family: Ubuntu;
            padding: 22px 0;
            text-align: center;
        }

        .meritoo-logo a,
        .meritoo-logo a:hover,
        .meritoo-logo a:focus {
            text-decoration: none;
        }

        .meritoo-logo a img {
            display: block;
            margin: 0 auto;
        }

        .meritoo-logo a span {
            color: #4e4b4b;
            font-size: 18px;
        }

        .row-urls {
            margin-top: 4px;
        }

        .row-urls .col-md-6 {
            text-align: center;
        }

        .row-urls .col-md-6 a {
            font-size: 14px;
        }
    </style>
    <title>管理首页</title>
</head>
<body class="bootstrap-admin-with-small-navbar">
<nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar-sm" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="admin_login.html" role="button" class="dropdown-toggle" data-hover="dropdown"> <i
                                    class="glyphicon glyphicon-user"></i> 退出登录<i class="caret"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- main / large navbar -->
<nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar bootstrap-admin-navbar-under-small"
     role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin_indexManager">微信抽奖系统管理后台</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <!-- left, vertical navbar & content -->
    <div class="row">
        <!-- left, vertical navbar -->
        <!--<% include left.ejs %>-->
        <div class="col-md-2 bootstrap-admin-col-left">
            <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                <li>
                    <a href="/admin_indexManager"><i class="glyphicon glyphicon-chevron-right"></i> 主页</a>
                </li>
                <li>
                    <a href="/addlottery"><i class="glyphicon glyphicon-chevron-right"></i> 奖品</a>
                </li>
            </ul>
        </div>

        <!--<% include left.ejs %>-->
        <!-- content -->
        <div class="col-md-10">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>管理主页</h1>
                    </div>
                </div>
            </div>

            <div class="row" id="state">
                <div class="col-lg-12">
                    <div class="alert alert-success bootstrap-admin-alert">
                        <button type="button" class="close" id="close" data-dismiss="alert">×</button>
                        <h4 id="show">Success</h4>
                        登录成功
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <form method="post" action="/selectUser">
                        <input id="searchName" class="form-control" style="width: 50%;float:left;" type="text"
                               name="item_name" placeholder="输入搜索用户名称"/>
                        <Button class="btn btn-primary" type="submit" style="float:left;" value="搜索">搜索</Button>
                    </form>
                </div>
            </div>

            <!--输出所有用户-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="text-muted bootstrap-admin-box-title">作品管理</div>
                            <div class="pull-right"><span class="badge">2016</span></div>
                        </div>
                        <div class="bootstrap-admin-panel-content">
                            <div class="row bootstrap-admin-light-padding-bottom">
                                <p id="show_items"></p>

                                <div class="col-lg-12">
                                    <div class="col-lg-4" style="text-align: left">
                                        <button id="top" class="btn btn-danger">上一页</button>
                                    </div>

                                    <div class="col-lg-4" style="text-align: center">
                                        <p><span id="now"></span>/<span id="all"></span></p>
                                        <!--<p id="now"></p>-->
                                        <!--<p id="all"></p>-->
                                    </div>
                                    <div class="col-lg-4" style="text-align: right">
                                        <button id="dowm" class="btn btn-danger">下一页</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--输出所有用户-->

        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<!--<script type="text/javascript" src="../js/twitter-bootstrap-hover-dropdown.min.js"></script>-->
<script type="text/javascript" src="../js/bootstrap-admin-theme-change-size.js"></script>
<script type="text/javascript" src="../vendors/easypiechart/jquery.easy-pie-chart.js"></script>
<script type="text/javascript">
    $(function () {
        // Easy pie charts
        $('.easyPieChart').easyPieChart({animate: 1000});
    });
</script>
<script>
    //    获得数据
    var users = <%- result %>;
    //获得数据长度
    var users_num = users.length;
    var show = 10; //显示的个数
    var now = 0;
    var pagesall = Math.ceil(users_num / show);   //获得页数

    $(document).ready(function () {
        var nowNum = now + 1
        $('#now').text("当前页数：" + nowNum);
        $('#all').text("总页数：" + pagesall);
        function itemss() {
            for (var show_num = now * show; show_num < (now + 1) * show; show_num++) {
                $('#show_items').append("<a href='/usersInfo_up?openid="+users[show_num].UserInfo_openid+"'><div class='col-md-12'><div class='col-md-4'><p>" + users[show_num].UserInfo_openid + "</p></div><div class='col-md-4'><p>" + users[show_num].UserInfo_NickName + "</p></div><div class='col-md-2'><p>" + users[show_num].LotteryNumber + "</p></div><div class='col-md-2'><p>" + users[show_num].Lottery + "</p></div></div></a>");
            }
        }
        itemss();

//        上一页
        $('#top').click(function () {
            if (now == 0) {
                alert("已到最前页！");
            } else {
                now--;
                nowNum = now + 1
                $('#now').text("当前页数：" + nowNum);
                $('#show_items').empty();
                itemss();
            }
        });
//        下一页
        $('#dowm').click(function () {
            if (now == pagesall - 1) {
                alert("已到最后页");
            } else {
                now++;
                nowNum = now + 1
                $('#now').text("当前页数：" + nowNum);
                $('#show_items').empty();
                itemss();
            }
        });

    })
</script>

<!--<script>-->
<!--$(document).ready(function(){-->
<!--$('#close').click(function(){-->
<!--$('#tate').fadeOut(3000);-->
<!--});-->
<!--});-->
<!--</script>-->
</html>