<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li>
            <a href="/dashboard"><i class="glyphicon glyphicon-chevron-right"></i> 主页</a>
        </li>
        <li>
            <a href="/about"><i class="glyphicon glyphicon-chevron-right"></i> 添加作品</a>
        </li>
    </ul>
</div>